<div class="panel panel-default">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
      <h2>{{ (gatewayForm.value._id ? "Edit" : "Add") + " Gateway" }}</h2>
    </div>
  </div>
  <div>
    <div class="col-md-7 offset-md-3">
      <span class="anchor" id="formComplex"></span>
      <form [formGroup]="gatewayForm">
        <div class="form-row mt-4">
          <div class="col-sm-6 pb-3">
            <label>Serial</label>
            <input type="text" class="form-control" formControlName="serial" />
            <validation-messages
              [control]="gatewayForm.controls.serial"
            ></validation-messages>
          </div>
          <div class="col-sm-6 pb-3">
            <label>Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="human_readable_name"
            />
            <validation-messages
              [control]="gatewayForm.controls.human_readable_name"
            ></validation-messages>
          </div>
          <div class="col-sm-6 pb-3">
            <label>IP </label>
            <input
              type="text"
              class="form-control"
              formControlName="ipv4_address"
            />
            <validation-messages
              [control]="gatewayForm.controls.ipv4_address"
            ></validation-messages>
          </div>
          <div class="col-sm-6 pb-3" formArrayName="devices">
            <label>Devices</label>
            <button
              class="btn btn-primary btn-sm float-end"
              type="button"
              (click)="addDevice()"
            >
              Add Device
            </button>
            <div
              *ngFor="let device of devices().controls; let deviceId = index"
            >
              <div
                class="input-group input-group-sm mb-3 my-3"
                [formGroupName]="deviceId"
              >
                <div class="input-group-prepend input-group-text">
                  <div
                    class="form-check form-switch h-100 align-items-center py-1"
                  >
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="flexSwitchCheckDefault"
                      check
                      formControlName="status"
                    />
                  </div>
                </div>
                <input
                  type="text"
                  class="form-control"
                  formControlName="vendor"
                  placeholder="vendor"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary"
                    type="button"
                    (click)="removeDevice(deviceId)"
                  >
                    x
                  </button>
                </div>
              </div>
              <validation-messages
                [control]="devices().at(deviceId).get('vendor')"
              ></validation-messages>
            </div>
          </div>
          <div class="col-sm-6 pb-3 d-flex justify-content-between mt-4">
            <span>
              <a
                href="javascript:void(0);"
                [routerLink]="['/gateways']"
                class="btn btn-primary"
              >
                <i class="fa fa-chevron-left"></i> Back</a
              >
            </span>
            <div class="btn-group d-inline-block ms-2">
              <span></span>
              <button
                class="btn btn-primary"
                [disabled]="gatewayForm.invalid"
                (click)="submit()"
              >
                Save
              </button>
              <button class="btn btn-secondary" (click)="reset()">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
